.page {
  background: #e4ecfc;
}

.my-masonry-grid {
  display: -webkit-box; /* Not needed if autoprefixing */
  display: -ms-flexbox; /* Not needed if autoprefixing */
  display: flex;
  margin-left: -30px; /* gutter size offset */
  width: auto;
}
.my-masonry-grid_column {
  padding-left: 30px; /* gutter size */
  background-clip: padding-box;
}

/* Style your items */
.my-masonry-grid_column > div {
  /* change div to reference your elements you put in <Masonry> */
  /* background: grey; */
  margin-bottom: 30px;
}

.MuiFormControl-root label {
  background-color: white;
}

.MuiInputBase-root.MuiOutlinedInput-root.MuiInputBase-formControl {
  outline: none;
}

.MuiInputBase-root.MuiOutlinedInput-root.MuiInputBase-formControl select {
  outline: none;
  border-radius: 20px;
  border: 1px solid black;
}

.MuiInputBase-root.MuiOutlinedInput-root.MuiInputBase-formControl fieldset {
  border: none;
}

.MuiFormControl-root label {
  background-color: white;
}

.MuiInputBase-root.MuiOutlinedInput-root.MuiInputBase-formControl {
  outline: none;
}

.MuiInputBase-root.MuiOutlinedInput-root.MuiInputBase-formControl select {
  outline: none;
  border-radius: 20px;
  border: 1px solid black;
}

.MuiInputBase-root.MuiOutlinedInput-root.MuiInputBase-formControl fieldset {
  border: none;
}

/* Optional, different gutter size on mobile */
@media (max-width: 800px) {
  .my-masonry-grid {
    margin-left: -15px; /* gutter size offset */
  }
  .my-masonry-grid_column {
    padding-left: 15px; /* gutter size offset */
  }
  .my-masonry-grid_column > div {
    margin-bottom: 15px; /* space between items */
  }
}
